chroma-hnswlib==0.7.6
chromadb==0.6.3
docling==2.15.0
docling-core==2.16.0
docling-parse==3.1.2
gradio==5.13.2
langchain==0.3.16
langchain-community==0.3.16
langchain-core==0.3.32
langchain-openai==0.3.2
langchain-text-splitters==0.3.5
langgraph==0.2.68
langgraph-checkpoint==2.0.10
loguru==0.7.3
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
rank-bm25==0.2.2